.home-page-container {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

#hero-section {
  min-height: 60dvh;
  justify-content: space-between;
  margin-top: 10px;
}

#hero-image {
  width: 520px;
  position: relative;
  right: 180px;
  height: 520px;
  bottom: 10px;
}

.section-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

#info-section-header {
  font-weight: bold;
  text-shadow: 2px 2px 2px #303134;
}

#info-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100dvh;
  background-color: #171717;
}

.hero-text {
  font-size: 40px;
  text-shadow: 2px 2px 2px gray;
}

#hero-text-container {
  align-items: flex-start;
  position: relative;
  left: 100px;
}

.home-button {
  width: 340px;
  height: 120px;
  font-size: 25px;
  background-color: #e1895f;
  font-family: Orbitron, sans-serif;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  border-radius: 20px;
  font-weight: bold;
  margin-top: 20px;
}

.home-button:hover {
  box-shadow: 10px 10px 10px #303134;
  translate: -5px -5px;
}

.home-grid-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-title {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  text-shadow: 2px 2px 2px gray;
}

.home-image {
  max-width: 350px;
  min-height: 350px;
  border-radius: 10px;
}

.image-text {
  max-width: 350px;
  text-align: center;
}

.home-text-container {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-section-text {
  font-size: 30px;
}

.section-image {
  border-radius: 10px;
  min-height: 500px;
  max-width: 750px;
}

#sky-map-section {
  display: flex;
  align-items: center;
}

#favourites-section {
  background-color: #171717;
}

.section-title {
  font-size: 35px;
}

#call-to-action {
  justify-content: center;
}

#call-to-action-container {
  width: 850px;
  height: 500px;
  background-color: #171717;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#call-to-action-text {
  font-size: 45px;
  margin: 0;
}

#call-to-action-subtext {
  font-size: 20px;
  max-width: 650px;
  text-align: center;
}

#call-to-action-button {
  width: fit-content;
  padding: 20px;
}
