body {
  margin: 0;
  padding: 0;
}

.registration-form-container {
  background-image: url("https://media.giphy.com/media/xUA7b3mdJsdGrzF6dW/giphy.gif?cid=ecf05e47c0zxenyiskbio8f3yjvk9mnizlb4itqzgrdxqr84&ep=v1_gifs_search&rid=giphy.gif&ct=g");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Orbitron, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.registration-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #434b98;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 6px 0, 0 2px 10px 0;
}

.register-header {
  text-align: center;
  color: #f0f0f0;
  text-shadow: 4px 4px 4px black;
}

.fields {
  display: flex;
  gap: 2rem;
  color: #f0f0f0;
  text-shadow: 4px 4px 4px black;
}

.reg-label {
  font-weight: bold;
  font-size: large;
}

.reg-input {
  height: 30px;
  width: 100%;
  border-radius: 5px;
  font-size: large;
}

.left,
.right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.register-button {
  font-family: Orbitron, sans-serif;
  font-size: large;
  font-weight: bold;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 160px;
  height: 44px;
  transition: all 0.1s ease-in-out;
  align-self: center;
}

.register-button:hover {
  background-color: #e7d0ab;
  box-shadow: 0 2px 3px 0, 0 1px 5px 0;
}

.login-links {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #f0f0f0;
  text-shadow: 4px 4px 4px black;
}

.login-route {
  font-size: large;
  font-weight: bold;
}
