.grid-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: lightgray;
  min-height: 200px;
  max-height: 300px;
  border-radius: 16px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  max-width: 400px;
  justify-self: center;
}

.grid-card:hover {
  box-shadow: 2px 2px 6px gray ;
  translate: -4px -4px;
}

.sky-object-image {
  min-height: 80%;
  max-height: 80%;
  translate: 0 -12px;
  border-radius: 16px 16px 0 0;
}

.grid-card-text {
  color: #1b1b1b;
  text-align: center;
  padding-bottom: 16px;
  height: auto;
}

.sky-object-name {
  font-weight: bold;
  margin: auto;
}

.sky-object-description {
  margin: auto;
}

.fav-button {
  font-size: 1.75em;
  padding-left: 8px;
  padding-right: 8px;
  user-select: none;    /* prevents star from being highlighted */
}
