.grid-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: lightgray;
  min-height: 200px;
  max-height: 400px;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.grid-card:hover {
  box-shadow: 8px 8px 8px gray;
  translate: -10px -10px;
}

.sky-object-image {
  min-height: 80%;
  max-height: 80%;
  translate: 0 -12px;
}

.grid-card-text {
  color: #1b1b1b;
  text-align: center;
  padding-bottom: 5px;
}

.sky-object-name {
  font-weight: bold;
  margin: auto;
}

.sky-object-description {
  margin: auto;
}

.fav-button {
  font-size: 1.75em;
  padding-left: 8px;
  padding-right: 8px;
}
