.navbar-button {
  border-radius: 40px;
  border: none;
  padding: 20px;
  width: 160px;
  font-size: large;
  text-align: center;
  background-color: lightgrey;
  margin: auto;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  font-family: Orbitron, sans-serif;
  font-style: oblique;
  box-shadow: 0 4px 6px 0 gray;
  color: #1b1b1b;
}

.navbar-button:hover {
  background-color: #e7d0ab;
  box-shadow: 0 8px 12px 0 gray, 0 8px 50px 0 gray;
  font-weight: bold;
}

#navbar-list {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 15px 10px;
}

.row {
  margin: auto;
  cursor: pointer;
}

#dark .row {
  color: #f8fafd;
}

#light .row {
  color: #1b1b1b;
}
