.mainbg {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Orbitron, sans-serif;
  background-image: url("https://media.giphy.com/media/xUA7b3mdJsdGrzF6dW/giphy.gif?cid=ecf05e47c0zxenyiskbio8f3yjvk9mnizlb4itqzgrdxqr84&ep=v1_gifs_search&rid=giphy.gif&ct=g");
  background-size: cover;
  background-repeat: no-repeat;
}

.login-form-content {
  background-color: #434b98;
  max-width: 400px;
  display: flex;
  padding: 30px;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 4px 6px 0, 0 2px 10px 0;
}

.login-buttons-container {
  display: flex;
  justify-content: space-between;
}

.login-button {
  font-family: Orbitron, sans-serif;
  font-size: large;
  font-weight: bold;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 160px;
  height: 44px;
  transition: all 0.1s ease-in-out;
}

.login-button:hover {
  background-color: #e7d0ab;
  box-shadow: 0 2px 3px 0, 0 1px 5px 0;
}

.login-button:disabled {
  background-color: #ddd;
  color: #aaa;
  cursor: not-allowed;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.login-form-label {
  margin-top: 10px;
  color: #f0f0f0;
  text-shadow: 4px 4px 4px black;
  font-weight: bold;
  font-size: large;
}

.login-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
  font-size: large;
}

#password {
  margin-bottom: 10px;
}

.login-header {
  text-align: center;
  color: #f0f0f0;
  text-shadow: 4px 4px 4px black;
  font-size: xx-large;
}

.register-links {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #f0f0f0;
  text-shadow: 4px 4px 4px black;
}

.register-route {
  font-size: large;
  font-weight: bold;
}

.flex-body {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}

#custom-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #444;
  border: none;
  border-radius: 4px;
  width: 160px;
  height: 44px;
  padding: 10px;
  transition: all 0.1s ease-in-out;
}

#custom-btn:hover {
  cursor: pointer;
  background-color: #e7d0ab;
  box-shadow: 0 2px 3px 0, 0 1px 5px 0;
}

.google-icon {
  background: url("/src/assets/images/google-icon.png") transparent 0 center/50%
    no-repeat;
  background-size: 60%;
  width: 42px;
  height: 42px;
}

span.button-text {
  padding: 10px;
  font-family: Orbitron, sans-serif;
  font-size: small;
  font-weight: bold;
}
