.app {
  font-family: Orbitron, sans-serif;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  padding: 0;
}

#light {
  background: #f8fafd;
  color: #1b1b1b;
}

#dark {
  background-color: #1b1b1b;
  color: #f8fafd;
}

#light,
#dark {
  transition: background-color 0.3s ease;
}

#header {
  display: flex;
  align-items: center;
  position: relative;
  padding: 10px;
  margin-left: 10px;
}

#logo {
  max-width: 18%;
  max-height: 18%;
  cursor: pointer;
}

.button-group {
  position: absolute;
  right: 16px;
  top: 16px;
  display: flex;
  align-items: center;
}

#title-sticker {
  position: absolute;
  width: 100px;
  height: 100px;
  right: 92%;
}

.mode-button {
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-left: auto;
}

#light .mode-button {
  color: #1b1b1b;
}

#dark .mode-button {
  color: #f8fafd;
}

.page-header {
  display: flex;
}

.search-bar-container {
  padding-top: 20px;
}

.search-input {
  border-radius: 60px;
  width: 250px;
  height: 30px;
  padding-left: 10px;
  font-size: large;
}

.page-title {
  padding-left: 30px;
  padding-right: 30px;
}

#dark .page-title {
  color: #f8fafd;
}

#light .page-title {
  color: #1b1b1b;
}

.profile-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  height: 45px;
  width: 130px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 40px;
  border: none;
  background-color: darkgray;
}

.profile-button:hover {
  background-color: #e7d0ab;
  box-shadow: 0 2px 3px 0 gray, 0 1px 5px 0 gray;
}

#profile-pic {
  border-radius: 50%;
  height: 35px;
  width: 35px;
  margin: 10px;
  margin: 0;
  margin-right: 5px;
}

#profile-username {
  font-weight: 900;
}

#profile-small {
  font-weight: 100;
  font-size: 12px;
}

.profile-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 0;
}

.profile-text p {
  margin: 0;
  padding: 0;
}

main {
  flex: 1;
}

footer {
  background-color: #303134;
  display: flex;
  align-items: center;
  width: 100%;
  height: 200px;
}

#footer-logo {
  max-width: 200px;
  max-height: 35px;
  margin-left: 30px;
}

.footer-features {
  font-size: large;
  margin-left: 200px;
  font-weight: bold;
}

.feature {
  font-size: small;
  font-weight: normal;
  cursor: pointer;
}
