
.App {
  font-family: "Ubuntu", sans-serif;
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
}

#light {
  background: #ffffff;
}

#dark {
  background-color: #1B1B1B;
}

#light, #dark {
  transition: background-color 0.3s ease; /* Smoothly transition the background color */
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 10px 16px; 
}

#header #logo {
  width: 20%;
  height: 20%;
}

#modeButton {
  justify-content: end;
  background: none;
	border: none;
	padding: 0;
	cursor: pointer;
  margin-left: auto;
}

#light #modeButton {
  color: #1B1B1B;
}

#dark #modeButton {
  color: #ffffff;
}