.app {
  font-family: "Ubuntu", sans-serif;
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
}

#light {
  background: #f8fafd;
}

#dark {
  background-color: #1b1b1b;
}

#light,
#dark {
  transition: background-color 0.3s ease;
}

#header {
  display: flex;
  justify-content: space-between;
  padding: 16px 16px;
}

#logo {
  max-width: 18%;
  max-height: 18%;
  margin: auto;
}

.mode-button {
  justify-content: end;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  margin-left: auto;
}

#light .mode-button {
  color: #1b1b1b;
}

#dark .mode-button {
  color: #f8fafd;
}

#navbar-list {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 10px;
}

.row {
  margin: auto;
  cursor: pointer;
}

.row-name {
  font-size: large;
}

.row-name:hover {
  font-size: x-large;
}

#dark .row {
  color: #f8fafd;
}

#light .row {
  color: #1b1b1b;
}

#content {
  display: flex;
}

#dark .page-title {
  color: #f8fafd;
}

#light .page-title {
  color: #1b1b1b;
}
